img {
  width: 100%;
  height: auto;
}

h1 {
  color: #ffffff;
  font-weight: bold;
}

p {
  color: #ffffff;
}

a {
  background-color: #f44336;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  background-color: #ff0000;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.center-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
