.carousel-inner {
  height: 700px;
}

.carousel-inner .carousel-item img {
  height: 700px;
  object-fit: cover;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
}

.carousel-caption h2 {
  color: #f44336;
  font-size: 50px;
  font-weight: bolder;
}

.carousel-caption p {
  color: #ffffff;
  font-size: 20px;
}

.rowposter {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
  width: 100%;
}

.rowposter img {
  margin-right: 8px;
}

.rowimg {
  max-height: 100px;
  object-fit: contain;
  width: 100%;
  box-sizing: content-box;
  transition: transform 450ms;
  margin-right: 8px;
}

.rowimg:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.largeposter {
  max-height: 300px;
}

.rowposter::-webkit-scrollbar {
  display: none;
}

.movie-description-box {
  background-color: rgba(0, 0, 0, 0.7); /* Dark background color */
  color: white; /* White text color */
  padding: 20px;
  border-radius: 8px;
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto; /* Center the box horizontally */
}
