.carousel-inner {
  height: 700px;
}

.carousel-inner .carousel-item img {
  height: 700px;
  object-fit: cover;
}

.carousel-caption h2 {
  color: red;
  font-size: 50px;
  font-weight: bolder;
}

.carousel-caption p {
  color: #ffffff;
  font-size: 20px;
}

.rowposter {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.rowimg {
  max-height: 100px;
  object-fit: contain;
  width: 100%;
  box-sizing: content-box;
  transition: transform 450ms;
  margin-right: 8px;
}

.rowimg:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.largeposter {
  max-height: 300px;
}

.rowposter::-webkit-scrollbar {
  display: none;
}
